.navbar {
  width: 100%;
  background-color: #8ac926;
  padding-block: 1rem;
}

nav {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.brand {
  margin-right: auto;
}

.navbar__create-recipe {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}
.navbar__create-recipe:hover {
  background-color: white;
  color: #8ac926;
  transition: all 0.2s ease;
}
